/* Header styles */
.header {
    background-color: #f8f9fa;
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  /* Container for theme switcher icon */
  .theme-switcher-container {
    display: flex;
    align-items: center;
  }
  
  /* Optional: styling for the theme switcher icon */
  .theme-switcher {
    cursor: pointer;
    font-size: 1.5rem; /* Adjust size as needed */
    margin-left: 15px;
  }
  
  .theme-switcher:hover {
    color: #007bff; /* Change color on hover */
  }
  