/* Light Theme Variables */
:root[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-text-color: #333333;
  --secondary-text-color: #666666;
  --foreground-color: #f4f4f4;
}

/* Dark Theme Variables */
:root[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-text-color: #cccccc;
  --secondary-text-color: #999999;
  --foreground-color: #333333;
}

.App {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  padding: 20px;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--foreground-color);
  color: var(--secondary-text-color);
}

.theme-switcher {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: auto;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.theme-switcher:hover {
  color: #007bff;
}
